body {
    background: url("../../public/background/generic.jpg") no-repeat fixed center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: left;
    color: white;
}

a {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-decoration-line: none;
    color: white;
}

td {
    padding: 0.5rem 1rem;
}

thead {
    font-size: medium;
    color: grey;
}

tbody {
    font-size: large;
}

tbody > tr:hover {
    background: rgba(66, 66, 66, 0.95);
    cursor: pointer;
}

.game-background {
    background-size: cover;
    /*background-blend-mode: multiply;*/
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.round-button {
    background: none;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    outline: none;
}

button.round-button {
    width: 3rem;
    height: 3rem;
}

.round-button > img {
    width: 100%;
    height: 100%;
}

.round-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.icon {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}

.content {
    width: 80rem;
    margin: 0 auto;
}

.card {
    background: rgba(48, 48, 48, 0.95);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.card-hover {
    cursor: pointer;
}

.card-hover:hover {
    background: rgba(66, 66, 66, 0.95);
}

.image-normal {
}

.image-hover {
    display: none;
}

.image-hover-parent:hover .image-normal {
    display: none;
}

.image-hover-parent:hover .image-hover {
    display: inline-block;
}