body {
    margin: 0;
    height: 100vh;
    /*background: url("../../public/background/generic.jpg");*/
    background: url("../../public/games/csgo/csgo_background_1.jpg");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: left;
    color: white;
}

a {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-decoration-line: none;
    color: white;
}

.kloud-button {
    background: none;
    border: none;
    padding: 0.65rem;
    cursor: pointer;
}

.kloud-button > img {
    width: 100%;
    height: 100%;
}

.kloud-button:hover {
    background: rgba(48, 48, 48, 0.9);
}

.icon {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}

.content {
    width: 80rem;
    margin: 0 auto;
}

.card {
    background: rgba(48, 48, 48, 0.95);
    border-radius: 0.3rem;
    /*box-shadow: 0 0 0.25rem rgba(150, 150, 150, 0.5);*/
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.card-hover:hover {
    background: rgba(66, 66, 66, 0.95);
    /*background: rgba(100, 100, 100, 0.9);*/
    /*box-shadow: 0 0 1rem rgba(150, 150, 150, 0.5);*/
}