body {
    margin: 0;
    height: 100vh;
    background: url("../../public/background/generic.jpg");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: left;
    color: white;
}

.kloud-button {
    background: none;
    border: none;
    padding: 0.65rem;
    cursor: pointer;
}

.kloud-button > img {
    width: 100%;
    height: 100%;
}

.kloud-button:hover {
    background: rgba(255, 255, 255, 0.2);
}